## First steps

Stable branch should be created after the 7th. The 7th is the last date to reliably get things in.

- [ ] Create a new slack channel `<%= Slack::Channel.for(version) %>`
- [ ] Set the channel topic to `RMs: https://about.gitlab.com/release-managers`
- [ ] Invite all current release managers
- [ ] Inside the old release slack channel, notify about `<%= Slack::Channel.for(version) %>`

     ```
     Hello :wave:
     We are starting <%= version.to_minor %> into <%= Slack::Channel.for(version) %>
     Please archive this channel and join <%= Slack::Channel.for(version) %> if interested
     ```
- [ ] [Sync stable branches](https://gitlab.com/gitlab-org/release/docs/blob/master/general/push-to-multiple-remotes.md) to `dev`
      - [ ] [CE](https://dev.gitlab.org/gitlab/gitlabhq/commits/<%= version.stable_branch %>)
      - [ ] [EE](https://dev.gitlab.org/gitlab/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>)
      - [ ] [Omnibus CE branch](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch %>)
      - [ ] [Omnibus EE branch](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>)
- [ ] Sync master branches to `dev`
      - [ ] [CE](https://dev.gitlab.org/gitlab/gitlabhq/commits/master)
      - [ ] [EE](https://dev.gitlab.org/gitlab/gitlab-ee/commits/master)
- [ ] If needed, sync tags for dependencies (`gitlab-shell`, `gitlab-workhorse`, `gitlab-pages`, `gitaly`) to `dev` (when applicable. Builds should fail if this is needed.)
- [ ] Repeat the process of syncing stable branches until the Feature Freeze date

## Release candidates

- Create additional release candidates as needed:

    ```sh
    # In Slack (update RC number):
    /chatops run release_issue <%= version.to_rc(2) %>
    ```

Keep in mind that:

1. After the feature freeze only regression, security, and documentation fixes should be
   cherry-picked into stable branches.
2. The final RC should point to the same commit as the final release.

## On the first working day after the 7th

- [ ] Follow the [Feature freeze RC](https://gitlab.com/gitlab-org/release/docs/blob/master/general/release-candidates.md#feature-freeze-rc) guide

## Final RC

The final RC should be created on the 21st of the month.

### Before 13:00 UTC

Including changes at this stage requires signoff from the VP of Engineering.

- [ ] Create a task list for the final RC:

    ```sh
    # In Slack (update RC number):
    /chatops run release_issue <%= version.to_rc(22) %>
    ```

### At 15:00 UTC

If the final RC isn't tagged and deployed by this time, notify the
[Distribution Lead][getting help].

### At 20:00 UTC

If the final RC still isn't tagged and deployed by this time, notify the
[VP of Engineering][getting help].

## 22nd: release day

No new code can be added to the release that was not included in the final RC.

- At 08:00 UTC, final release is ready for tagging (Including changes at this stage requires signoff from the [VP of Engineering][getting help]):
  - [ ] Ensure tests are green on [CE stable branch]
  - [ ] Ensure tests are green on [EE stable branch]
  - [ ] Ensure tests are green on [Omnibus CE stable branch]
  - [ ] Ensure tests are green on [Omnibus EE stable branch]
  - [ ] [Sync stable branches](https://gitlab.com/gitlab-org/release/docs/blob/master/general/push-to-multiple-remotes.md) for CE, EE, and Omnibus to `dev`
  - [ ] Sync master branches to `dev`

- Before 10:00 UTC:
  - [ ] Tag the `<%= version.to_patch %>` version using the [`tag` command]:
    ```sh
    # In Slack:
    /chatops run tag <%= version.to_patch %>
    ```
  - [ ] Check progress of [EE packages build](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.to_omnibus(ee: true) %>) and [CE packages build](https://dev.gitlab.org/gitlab/omnibus-gitlab/commits/<%= version.to_omnibus(ee: false) %>)
- Before 12:00 UTC:
  - [ ] [Deploy] `<%= version.to_patch %>` to the canary VMs on gitlab.com
    ```sh
    # In Slack:
    /chatops run deploy <%= version.to_patch %>-ee.0 --production --canary
    ```
  - [ ] Confirm that there are no errors on canary
    - [canary errors on sentry.gitlab.net](https://sentry.gitlab.net/gitlab/gitlabcom/?query=server_name%3A%22web-cny-01-sv-gprd%22)
    - [canary dashboard](https://dashboards.gitlab.net/d/llfd4b2ik/canary)
  - [ ] Get confirmation from a production team member to deploy production. Use `/chatops run oncall production` if needed to find who's on call. If someone besides the oncall confirms, `@mention` the oncall so they are aware.
  - [ ] Confirm there are no critical alerts on gitlab.com on the [alerting dashboard](https://dashboards.gitlab.net/d/SOn6MeNmk/alerts)
  - [ ] [Deploy] `<%= version.to_patch %>` to GitLab.com
    ```sh
    # In Slack:
    /chatops run deploy <%= version.to_patch %>-ee.0 --production
    ```
- At 13:30 UTC:
  - [ ] Publish the packages via ChatOps:
    ```
    # In Slack:
    /chatops run publish <%= version.to_patch %>
    ```
  - Make sure that neither packages nor the blog post get published earlier than
  planned without approval by the [messaging lead](https://about.gitlab.com/handbook/marketing/blog/release-posts/managers/)
  of the release post. Mind that you don't need their approval if you're on time
  - If anything goes wrong and the release is delayed, ping the
  [release post manager](https://about.gitlab.com/handbook/marketing/blog/release-posts/managers/)
  on Slack to make them aware of the issue. Cross-post the slack message to the #marketing channel to notify them too
- At 14:10 UTC:
  - [ ] Verify that packages appear on `packages.gitlab.com`: [EE](https://packages.gitlab.com/app/gitlab/gitlab-ee/search?q=<%= version.to_patch %>) / [CE](https://packages.gitlab.com/app/gitlab/gitlab-ce/search?q=<%= version.to_patch %>)
  - [ ] Verify that Docker images appear on `hub.docker.com`: [EE](https://hub.docker.com/r/gitlab/gitlab-ee/tags) / [CE](https://hub.docker.com/r/gitlab/gitlab-ce/tags)
  - [ ] Create the `<%= version.to_patch %>` version on [version.gitlab.com](https://version.gitlab.com/versions/new?version=<%= version.to_patch %>)
  - [ ] Once all packages are available publicly and GitLab.com is up and running on the release version,
  ping the [release post manager](https://about.gitlab.com/handbook/marketing/blog/release-posts/managers/)
  on Slack (#release-post channel) to give them a go to merge the release post at ~14:20 UTC, so that it will be live at 15:00 UTC
  - [ ] Make sure the release post manager will tweet about the `<%= version.to_patch %>` release.
  If they don't respond, ensure someone else tweets from the `#releases` channel

[CE stable branch]: https://gitlab.com/gitlab-org/gitlab-ce/commits/<%= version.stable_branch %>
[EE stable branch]: https://gitlab.com/gitlab-org/gitlab-ee/commits/<%= version.stable_branch(ee: true) %>
[Omnibus CE stable branch]: https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch %>
[Omnibus EE stable branch]: https://gitlab.com/gitlab-org/omnibus-gitlab/commits/<%= version.stable_branch(ee: true) %>
[announce the deployment]: https://gitlab.com/gitlab-org/takeoff/blob/master/doc/announce-a-deployment.md
[`tag` command]: https://gitlab.com/gitlab-org/release-tools/blob/master/doc/chatops.md#tag
[Deploy]: https://gitlab.com/gitlab-org/takeoff#deploying-gitlab
[staging.gitlab.com]: https://staging.gitlab.com/
[getting help]: https://gitlab.com/gitlab-org/release/docs/blob/master/general/monthly.md#getting-help

/milestone %"<%= version.to_minor %>"
